@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #ffffff;

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --height: 100vh;
    --foreground: #ffffff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-jetbrains);
}

code, pre, .monospace {
  font-family: var(--font-jetbrains);
}

.hidden-scroll-bar {
  scrollbar-width: none !important; /* Firefox */
  -ms-overflow-style: none !important; /* IE 10+ */
}

.hidden-scroll-bar::-webkit-scrollbar {
  display: none !important; /* Chrome/Safari/Webkit */
  width: 0 !important;
  background: transparent !important;
} 

